#header {
  width: 100%;
  height: 30px;
  background: black;
}
#head{
  width:900px;
  margin: auto;
}

#search{
  float: left;
  display: block;
  width: 49%;
  height: 30px;
}
#category{
  float: left;
  width: 50%;
  height: 30px;
}
#category ul li{
  padding-top: 7px;
  padding-right: 10px;
  float: right;
  list-style: none;
  display:inline-block;
  font-size: 10px;
}
#searching{
  width: 100px;
  height: 15px;
  background: gray;
  border: none;
}
#butt{
  width : 15px;
  height: 15px;
  border
}
#home{
  width:18px;
  height: 18px;
}
li a{
  text-decoration: none;
  color: white;
}
