#container{
			width: 100%;
			height: 100%;
		}

		#header{
			width: 100%;
			height: 17%;
		}
		#header #top_bar{
			width: 100%;
		}
		#header #top_name{
			width: 100%;
			margin-top: 50px;
		}
		#content{
		width: 61%;
		margin:auto;
		}
#main_gall{
  display: block;
  float: left;
  width: 60%;
  height: 100%;
}
#main_gall a{
  display: block;
  width: 100%;
  height: 100%;
}
#main_gall img{
  width: 100%;
  height: 100%;
}
.sub_gall{
  display: block;
  width: 32%;
  margin-right: 30px;
  float: right;
  height: 70px;
}
.sub_gall ul li img{
	width: 100%;
	height: 90%;
}
#best_item{
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  float: left;
  width: 100%;
}
#best_item ul{
  margin-top: 30px;
}
#best_item li{
  display: inline-block;
  width: 18%;
  height: 100px;
}
#best_item li img{
  width: 100%;
  height: 100%;
  padding: 10px;
}
#main_gall .sub_gall  ul{
list-style: none;
}
#best_item_back{
	background: rgba(0,0,0,0.5);
}
#footer{
position:fixed;  !important
}