@charset "utf-8";
<style>
a.white:link { color: white; text-decoration: none;}
a.white:visited { color: white; text-decoration: none;}
a.white:hover { color: white; text-decoration: none;}
a.black:link { color: black; text-decoration: none;}
a.black:visited { color: black; text-decoration: none;}
a.black:hover { color: black; text-decoration: none;}
a.blue:link { color: #4253BE; text-decoration: none;}
a.blue:visited { color: #4253BE; text-decoration: none;}
a.blue:hover { color: #4253BE; text-decoration: none;}
a.gray:link { color: gray; text-decoration: none;}
a.gray:visited { color: gray; text-decoration: none;}
a.gray:hover { color: gray; text-decoration: none;}


#allset{
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    background-image: url(./back3.jpg);
}
 #topmenu{
  width: 1100px;
    height: 60px;
    margin: 0 auto; 
    border: 1px solid red;
    float: center;
    background-color: #ffffff;
  }

#slide1{
    width: 1100px;
    height: 400px;
 
    margin: auto;
    border: 1px solid red;
    background-color: #ffffff;
    }
.child1
{
    width: 650px;
    height: 350px;
    margin-left:20px;
    margin-bottom: 20px;
    border: 1px solid red;
    }
.child2
{
    width: 350px;
    height: 350px;
    margin-top:20px;
    margin-right:40px;
    float: right;
    border: 1px solid red;
    }

#main01{
   width: 1100px;
    height: 700px;
    margin: 10px auto;
    float: center;
    border: 1px solid red;
    background-color: #ffffff;
}
.mchild1
{
    width: 340px;
    height: 650px;
    float: left;
   margin-left: 10px;  
    border: 1px solid red;
    }
.mchild2
{
    width: 430px;
    height: 650px;
    margin: 0 0 0px 10px;
    border: 1px solid red;
    float: left;
    }

.mchild3
{
    width: 280px;
    height: 650px;
    margin: 0 0 0 10px;
    border: 1px solid red;
    float: left;
    }

#child1 li{
    padding-left: 10px;
    }

.text{
    font-weight: bold;
}
span.text{
    display: block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
span.title{
    font-size: 20px;
    font-weight: bold;
}

.text span{

}
  </style>

