h2,h3{
  display: inline-block;
}
.day{
  width:100%;
  height:150px;
  border: 1px solid #ddd;
  background: #eee;
  margin-bottom: 30px;
}
.select_day{
  padding: 30px;
  padding-left:200px;
}
.select_day > h4{
  display: inline-block;
  margin-right: 10px;
}
.select_day > select{
  height:27px;
}
#search_item{
  width:260px;
}
#date_prev, #date_next{
  width:150px;
  height:25px;
  display: inline-block;
}
.situation{
  width:100%;
  height:50px;
  border-top:3px solid gray;
  border-bottom: 3px solid gray;
}
.situation > ul > li{
  display: inline-block;
  padding-top: 12px;
  font-weight: bold;
  margin-left:20px;
}
.table > table{
  width:100%;
  margin-top: 30px;
  text-align: center;
}
.table table > thead{
  background: #ddd;
  border-top: 3px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}
.table table tr > td{
  padding: 3px;
  border-bottom: 2px solid #aaa;

}

.pagination > li > a, .pagination > li > span {
      color: #000;
    }
    .pagination > li > a:hover,.pagination > li > span:hover,
    .pagination > li > a:focus,.pagination > li > span:focus {
        color: #af64a9;
    }
    .pagination > .active > a,.pagination > .active > span,
    .pagination > .active > a:hover,.pagination > .active > span:hover,
    .pagination > .active > a:focus,.pagination > .active > span:focus {
  
     background-color: #af64a9;
     border-color: #af64a9;
    }
