		#content:after{
         content:"";
         display:block;
         clear: both;
      }
		
		  .side_area{
         margin-top: 10px;
         width: 200px;
         height: 500px;
         background-color: #F8F2FA;
         float: left;
      }
      
      .side_area > a{
         padding: 5px 0 5px 10px;
         margin-bottom: 10px;
         background-color: #af64a9;
         display: block;
         font-size: 18px;
         color: #fff;
         border-top: 1px solid #aaa;
         border-bottom: 1px solid #aaa;
         text-decoration: none;
      }

      .side_area ul > li > a{
         margin-left: 20px;
         color: #000;
         text-decoration: none;
      }
		
		.discussion {
		float: right;
		}
		
		.dis_info > li {
			width:100;
			display:inline-block;
		}

		.dis_sub {
			float: right;
			display: block;
			width: 950px;
			height:250px;
			margin-bottom: 40px;
		}

		.dis_sub2 {
			font-weight: bold;
		}

		.dis_img {
			height:175px;
			padding-left: 220px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 40px;
		}


		.parti_img {
			padding-left:250px;
		}

		.dis_table {
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			font-size: 14px;
		}

		.dis_table a {
			color:#000;
		}

		.dis_table th {
			border-bottom: 2px solid #ccc;
		}

		.dis_table th, .dis_table td {
			padding: 3px;
		}

		.cont_sub {
			float:left;
		}

		.cont_ag {
			color:red; 
		}

		.cont_disag {
			color: blue;
		}

		.cont_date, .cont_datec, .cont_view, .cont_ag, .cont_disag {
			text-align: center;
		}

		.page_num {
			margin-top: 40px;
			margin-left: 270px;
			margin-bottom: 20px;
		}

		.dis_btn {
			margin-top: 20px;
			float: right;
		}

	 .pagination > li > a, .pagination > li > span {
        color: #000;
      }
      .pagination > li > a:hover,.pagination > li > span:hover,
      .pagination > li > a:focus,.pagination > li > span:focus {
           color: #af64a9;
      }
      .pagination > .active > a,.pagination > .active > span,
      .pagination > .active > a:hover,.pagination > .active > span:hover,
      .pagination > .active > a:focus,.pagination > .active > span:focus {
    
        background-color: #af64a9;
        border-color: #af64a9;
      }

		.input_form {
			width: 100px;
			height: 30px;
		}

		.input_txt {
			width: 200px;
			height:30px;
		}

		#result_search > button {
			margin-bottom: 3px;
			background-color: #555;
			color: white;
			
		}

		#result_search {
			margin-right: 150px;
		}