/**-------------------------------------------*/
.item_header{
   width:100%;
   height:450px;
   border-bottom: 1px dotted gray;
}
.item_thumnail{
   width:400px;
   height:400px;
   float: left;
}
.item_thumnail > img{
   width:100%;
   height:100%;
   padding: 30px;
}
.item{
   padding-top: 30px;
   width:750px;
   height:400px;
   float: left;
}
.item_title{
   font-size: 23px;
   padding-bottom:25px;
   border-bottom: 1px dotted gray; 
}
.item_form{
   padding-top: 20px;
   padding-bottom: 30px;
}
.item_form tr{
   height:47px;
}
.item_form tr > td{
   padding-left:15px;
}
.item_form tr > td > input{
   height:20px;
   vertical-align: bottom;
   width: 30px;
}
.btn_box{
   border-top: 1px dotted gray;
   padding-top: 30px;
}
.btn_box > div{
   float: left;
   padding-right: 10px;
}
.contents{
   width:100%;
   height:100%;
   padding: 30px;
   float: left;
}
.review{
   border-top:1px dotted gray;
   padding:30px;
   width: 100%;
   margin: 50px auto;
   float: left;
}
.review a{
   display: block;
   float: left;
   margin-right: 20px;
}
.review img{
   display: block;
   float: left;
}
.review >div > div{
   float: right;
}
.review > div{
   margin-top: -40px;
}
.review table{
   margin-top: 40px;
}
.review table > thead {
   color:gray;
   border-bottom: 2px solid gray;
}
.review table > thead > tr > th{
   text-align: center;
}
.review table > tbody > tr > td{
   text-align: center;
}
.review table > tbody > tr > .title{
   text-align: left;
}