@charset "utf-8";
h2,h3{
			display: inline-block;
		}
p{
			margin: 0;
		}
		#content{
			height: auto;

		}

		#content:after{
			content:"";
			display:block;
			clear: both;

		}

		.side_area{
			
			width: 200px;
			height: 500px;
			float: left;
		}
		.side_area > a{
			padding: 5px 0 5px 10px;
			margin-bottom: 10px;
			background-color: #fafafa;
			display: block;
			font-size: 18px;
			color: #000;
			border-top: 1px solid #aaa;
			border-bottom: 1px solid #aaa;
			text-decoration: none;
		}

		.side_area ul > li > a{
			margin-left: 20px;
			color: #000;
			text-decoration: none;
		}
		.goods_list{
			width: 950px;
			height: auto;
			float: right;

		}

		.goods_list a{
			text-decoration: none;
			color: #000;

		}

		.list-topbar{
			width: 950px;
			height: 38px;
			border-bottom: 2px solid #000;
			float: left;
			margin-bottom: 10px;
			background-color: #fafafa;
			border-top: 1px solid #000;
		}
		.check_list{
			float: left;
			width: 300px;
			height: 33px;

		}
		.check_list > .btn-default{
			margin-top: 5px;
			width: auto;
			line-height: 0.8;
		}
		.search_list{
			float: right;
			width: 170px;
			height: 33px;
			margin-top: 7px;
			text-align: center;

		}

		.search_list > a{
			color: #000;
		}

		.list_lineup{
			margin-top: 50px;
			margin-left: 10px;
			margin-right: 10px;
			height: auto;
		}
		
		.list_lineup > ul > li{
			border-bottom: 1px solid #aaa;
			height: 150px;
		}

		.list_lineup > ul > li img{
			margin-left: 14px;
			
		}
		.list_lineup td{
			position: relative;
		}
		.list_lineup .title{
		display: block;
		position: absolute;
		top:20px;
		word-break: normal;
		font-weight: bold;
		}

		.list_lineup .substance{
		display: block;
		position: absolute;
		top: 70px;
		font-size: 12px;
		}
	
		.price1{
			text-decoration: line-through;
			color: #888;
			font-weight: bold;
			text-align: left;
		}

		.price2{
			color: red;
			font-weight: bold;
			text-align: left;
		}

		.btn-default{
			width: 80px;
			height: 26px;
			text-align: center;
			margin-bottom:10px;
			line-height: 0.8;
		}



		#A{
			background: red;
			color: #fff;
		}


		.page_num{
			margin-top: 30px;
			margin-left: 320px;
			margin-bottom: 20px;
		}

		.pagination > li > a, .pagination > li > span {
  		color: #000;
		}
		.pagination > li > a:hover,.pagination > li > span:hover,
		.pagination > li > a:focus,.pagination > li > span:focus {
  			color: #af64a9;
		}
		.pagination > .active > a,.pagination > .active > span,
		.pagination > .active > a:hover,.pagination > .active > span:hover,
		.pagination > .active > a:focus,.pagination > .active > span:focus {
 	
 		 background-color: #af64a9;
 		 border-color: #af64a9;
		}