#content img{
  width:100px;
}
#content div a{
  color: black;
  text-decoration: none;
}
.mypage_icon{
  display: block;
  width:23%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
}
.pagination > li > a, .pagination > li > span {
      color: #000;
    }
    .pagination > li > a:hover,.pagination > li > span:hover,
    .pagination > li > a:focus,.pagination > li > span:focus {
        color: #af64a9;
    }
    .pagination > .active > a,.pagination > .active > span,
    .pagination > .active > a:hover,.pagination > .active > span:hover,
    .pagination > .active > a:focus,.pagination > .active > span:focus {
  
     background-color: #af64a9;
     border-color: #af64a9;
    }