			
			
			.album {
				float:left;
				display:block;
			}
			
			.album_intro {
				display:block;
			}
			
			.ab_price {
				font-weight:bold;
			}
			
			.modify {
				float:right;
			}
			
			.album a {
				text-decoration:none;
			}

			.review_cont {
				min-height: 400px;
			}
			
			.comment {
				font-weight:bold;
			}
			
			#comment {
				width:1170px;
				height:140px;
				background-color: #f8f8f9;
				border: 1px solid #e5e5e6;
			}			

			.comment_box1{
				float:left;
				margin-left:20px;
				width:100%;
				height:120px;
			}
			
			.movepage {
				border-top:1px solid black;
				border-bottom:1px solid black;
				padding-top:10px;
				padding-bottom:10px;
				margin-top:40px;
			}
			
			.comment_id {
				display: inline-block;
				float: left;
				margin-top: 20px;
			}
			
			.res_btn {
				float: right;
				margin-right: 32px;
				margin-top: 19px;
			}

			.res_btn button {
				width: 70px;
				height: 100px;
			}
			
			.comment_txt {
				resize:none;
				width: 980px;
				margin-left: 15px;
				height:100px;
				display: inline-block;
				margin-top: 20px;
			}

			table a {
				color: #000;
			}

			.table_next {
				height: 30px;
			}

			.list button {
				background-color: #af64a9;
				border-color: #af64a9;
				margin-bottom: 40px;
			}

			.modify button {
				background-color: #af64a9;
				border-color: #af64a9;
				margin-bottom: 40px;
			}

			 .move_page {
      			 margin-top: 40px;
      			 border-top: 2px solid #000;
      		     border-bottom: 2px solid #000;
     		 }

     		 .move_page th {
     		   text-align: center;
     		  font-size: 15px;
     		 }

     		 .move_page tr {
      		  border-bottom: 1px solid #000;
      		  height: 28px;

     		 }

			 .pagination > li > a, .pagination > li > span {
       			 color: #000;
   		    }

    		 .pagination > li > a:hover,.pagination > li > span:hover,
     		 .pagination > li > a:focus,.pagination > li > span:focus {
         		  color: #af64a9;
     		 }
     		 .pagination > .active > a,.pagination > .active > span,
     		 .pagination > .active > a:hover,.pagination > .active > span:hover,
     		 .pagination > .active > a:focus,.pagination > .active > span:focus {
    
      			  background-color: #af64a9;
      			  border-color: #af64a9;
    		  }