<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.og/dtd/mybatis-3-mapper.dtd">

<!-- 이 파일의 경로를 config.xml에 명시해야 한다. -->

<!--회원에 대한 CRUD -->
<mapper namespace="BasketMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="basket" type="nurim.jsp.model.Basket">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="id" column="id" />
		<result property="memberId" column="member_id" />
		<result property="productId" column="product_id" />
		<result property="proImg" column="pro_img" />
		<result property="proName" column="pro_name" />
		<result property="proPrice" column="pro_price" />
		<result property="amount" column="amount" />
	</resultMap>
	
</mapper>

