<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.og/dtd/mybatis-3-mapper.dtd">

<!-- 이 파일의 경로를 config.xml에 명시해야 한다. -->

<!--회원에 대한 CRUD -->
<mapper namespace="BasketMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="basket" type="nurim.jsp.model.Basket">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="id" column="id" />
		<result property="memberId" column="member_id" />
		<result property="productId" column="product_id" />
		<result property="proImg" column="pro_img" />
		<result property="proName" column="pro_name" />
		<result property="proPrice" column="pro_price" />
		<result property="amount" column="amount" />
	</resultMap>
	
	<!-- 장바구니 리스트 검색 -->
	<select id="selectList" parameterType="nurim.jsp.model.Basket"
	resultMap="basket">
	SELECT id, member_id, product_id, pro_img,pro_name, pro_price, amount
	FROM basket
	WHERE member_id =#{memberId}
	</select>
	
	<!-- 장바구니 아이템 삭제 -->
	<delete id="deleteitem" parameterType="nurim.jsp.model.Basket">
	DELETE FROM basket
	WHERE id = #{id}
	</delete>
	
	<!-- 장바구니 아이템  수량 수정 -->
	<update id="updateItem" parameterType="nurim.jsp.model.Basket">
	UPDATE basket
	SET amount = #{amount}
	where id=#{id}
	</update>
	
	<!-- 장바구니 선택 조회 -->
	<select id="selectItem" parameterType="nurim.jsp.model.Basket"
	resultMap="basket">
	SELECT id, member_id, product_id, pro_img,pro_name, pro_price, amount
	FROM basket
	WHERE member_id =#{memberId} AND id=#{id}
	</select>
	
	<!-- 장바구니 상품과 상품테이블의 상품 수량 비교 -->
	<select id="compareItem" parameterType="nurim.jsp.model.Basket"
	resultMap="basket">
	SELECT b.pro_name as pro_name, IF(p.amount > b.amount,IF(p.amount>0,true,false),false)as amount
	FROM product AS p , basket AS b
	where p.id = #{productId} AND  b.id=#{id}
	</select>
</mapper>

