<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 회원에 대한 CRUD -->
<mapper namespace="CommentMapper">
    
    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="comment" type="nurim.jsp.model.Comment">
    	<result property="id" 			column="id" />
    	<result property="userId" 		column="user_id" />
    	<result property="content"		column="content" />
    	<result property="regDate" 		column="reg_date" />
    	<result property="editDate" 	column="edit_date" />
    	<result property="ipAddress" 	column="ip_address" />
    	<result property="memberId" 	column="member_id" />
    	<result property="documentId" 	column="document_id" />
    	<result property="payCheck"		column="pay_check" />
    </resultMap>
    
    <!-- 댓글 정보 저장하기 -->
    <insert id="insertComment" parameterType="nurim.jsp.model.Comment" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO comment (
		content, user_id, reg_date, edit_date, ip_address, document_id, member_id)
		VALUES (
		#{content}, #{userId}, now(), now(), #{ipAddress}, #{documentId}, #{memberId}
		)
	</insert>
	
	<!-- 덧글 하나에 대한 정보를 조회한다. -->
	<select id="selectComment" parameterType="nurim.jsp.model.Comment" resultMap="comment">
	SELECT id, user_id, content,
				DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') as reg_date,
				DATE_FORMAT(edit_date, '%Y-%m-%d %H:%i:%s') as edit_date,
				ip_address, member_id, document_id
	FROM		comment
	WHERE	id=#{id}
	</select>
	
	<!-- 하나의 게시물에 속해 있는 모든 댓글을 조회한다. -->
	<select id="selectCommentList" parameterType="nurim.jsp.model.Comment" resultMap="comment">
	SELECT id, user_id, content,
				DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') as reg_date,
				DATE_FORMAT(edit_date, '%Y-%m-%d %H:%i:%s') as edit_date,
				ip_address, member_id, document_id
	FROM		comment
	WHERE	document_id=#{documentId}
	ORDER BY id ASC
	</select>
	<update id="updateComment2" parameterType="nurim.jsp.model.Comment">
	UPDATE comment SET user_id=#{userId}, content=#{content}, ip_address=#{ipAddress}, edit_date=now() WHERE id=#{id}
	</update>	
	<!-- 댓글 정보 수정하기 -->
	<update id="updateComment" parameterType="nurim.jsp.model.Comment">
	UPDATE comment SET user_id=#{userId}, content=#{content}, ip_address=#{ipAddress}, edit_date=now() WHERE id=#{id}
	</update>	
	
	<!-- 특정 게시물에 속한 모든 댓글을 삭제한다. -->
	<delete id="deleteCommentAll" parameterType="nurim.jsp.model.Comment">
	DELETE FROM comment WHERE document_id=#{documentId}
	</delete>
    
       <insert id="insertPay" parameterType="nurim.jsp.model.Comment"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO comment (
    user_id,document_id,content,reg_date,edit_date,ip_address,pay_check,member_id)
    VALUES(
    #{userId},1,#{content},now(),now(),#{ipAddress},"",#{memberId}
    )
    </insert>
    <select id="selectPayCheck" parameterType="nurim.jsp.model.Comment"
    resultMap="comment">
    SELECT id,member_id,user_id,document_id,content,reg_date,edit_date,ip_address,pay_check
    FROM comment
    WHERE id=#{id}
    </select>
    
    <select id="selectPayCheckList" parameterType="nurim.jsp.model.Comment"
    resultMap="comment">
    SELECT id,member_id,user_id,document_id,content,reg_date,edit_date,ip_address,pay_check
    FROM comment
    WHERE document_id=1
    ORDER BY id desc;
    </select>
    
    <select id="selectcommentCountAll" parameterType="nurim.jsp.model.Comment"
    resultType="int">
    SELECT count(id)
    FROM comment
    <where>
    document_id=1
    <if test="userId !=null">
    and user_id LIKE concat('%',#{userId},'%')
    </if>
    <if test="content != null">
    and content LIKE concat('%',#{content},'%')
    </if>
    </where>
    ORDER BY id desc;
    </select>
    
    <select id="selectcommentListAll" parameterType="nurim.jsp.model.Comment"
    resultMap="comment">
    SELECT id,member_id,user_id,document_id,content,reg_date,edit_date,ip_address,pay_check
    FROM comment
    <where>
    document_id=1
    <if test="userId !=null">
    and user_id LIKE concat('%',#{userId},'%')
    </if>
    <if test="content != null">
    and content LIKE concat('%',#{content},'%')
    </if>
    </where>
    ORDER BY id desc
    LIMIT #{LimitStart},#{ListCount}
    </select>
    
    <update id="updatecomment" parameterType="nurim.jsp.model.Comment">
    UPDATE comment
    SET pay_check =#{payCheck}
    WHERE id=#{id}
    </update>
    
    <!-- 회원 탈퇴시 댓글에서 회원아이디 수정하기 -->
    <update id="updateCommentByMember" parameterType="nurim.jsp.model.Comment">
    UPDATE comment
    SET member_id=1
    WHERE member_id=#{memberId}
    </update>
    
    <!-- 1:1 제외한 모든 덧글 리스트 -->
     <select id="selectcommentListA" parameterType="nurim.jsp.model.Comment"
    resultMap="comment">
    SELECT c.id, c.member_id, c.user_id, c.document_id, 
    c.content, c.reg_date, c.edit_date, d.category FROM comment c 
    INNER JOIN document d ON c.document_id=d.id
  	WHERE d.category='review' OR d.category='discussion'
    ORDER BY c.reg_date DESC
    LIMIT #{limitStart},#{listCount}
 </select>
    
      <!-- 1:1 제외한 모든 덧글 수 -->
     <select id="selectcommentListCount" parameterType="nurim.jsp.model.Comment"
   resultType="int">
    SELECT COUNT(c.id) FROM comment c 
    INNER JOIN document d ON c.document_id=d.id
    WHERE d.category='review' OR d.category='discussion'
   
    </select>
    
    	<!-- 덧글 삭제 -->
	<delete id="deleteComment" parameterType="nurim.jsp.model.Comment" >
		DELETE FROM comment WHERE id=#{id}
	</delete>	
</mapper>