<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 회원에 대한 CRUD -->
<mapper namespace="documentMapper">
    
    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="document" type="nurim.jsp.model.Document">
    	<result property="id" 			column="id" />
    	<result property="memberId" 	column="member_id" />
    	<result property="category" 	column="category" />
    	<result property="subject" 		column="subject" />
    	<result property="content"		column="content" />
    	<result property="regDate" 		column="reg_date" />
    	<result property="editDate" 	column="edit_date" />
    	<result property="hit"	 		column="hit" />
    	<result property="ipAddress" 	column="ip_address" />
    	<result property="agree" 		column="agree" />
    	<result property="disagree" 	column="disagree" />
    	<result property="qna_type" 	column="qna_type" />
    </resultMap>
    
</mapper>