<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 회원에 대한 CRUD -->
<mapper namespace="DocumentMapper">
    
    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="document" type="nurim.jsp.model.Document">
    	<result property="id" 			column="id" />
    	<result property="memberId" 	column="member_id" />
    	<result property="category" 	column="category" />
    	<result property="subject" 		column="subject" />
    	<result property="content"		column="content" />
    	<result property="regDate" 		column="reg_date" />
    	<result property="editDate" 	column="edit_date" />
    	<result property="hit"	 		column="hit" />
    	<result property="ipAddress" 	column="ip_address" />
    	<result property="agree" 		column="agree" />
    	<result property="disagree" 	column="disagree" />
    	<result property="qnaType" 		column="qna_type" />
    	<result property="endDate" 		column="end_date" />
    	<result property="productId" 		column="product_id" />
    	
    </resultMap>
        
    <!-- 1:1 문의내역 목록 수를 멤버아이디로 검색 -->
    <select id="selectQnaCount" parameterType="nurim.jsp.model.Document"
    resultType="int">
    SELECT count(id) FROM document
    WHERE member_id=#{memberId}
    AND qna_type IS NOT null
    </select>
    
    <!-- 1:1 문의내역 목록을 멤버아이디로 검색 -->
    <select id="selectQnaList" parameterType="nurim.jsp.model.Document"
    resultMap="document">
    SELECT id,category,subject,content,DATE_FORMAT(reg_date,'%Y%m%d') AS reg_date,
    DATE_FORMAT(edit_date,'%Y%m%d') AS edit_date,hit,ip_address,member_id,agree,disagree,
    qna_type,end_date
    FROM document
    WHERE member_id = #{memberId} 
    AND qna_type IS NOT null
    ORDER BY id desc
    LIMIT #{limitStart},#{listCount}
    </select>
    
    <!-- 1:1 문의게시글 내용 확인 -->
    <select id="selectQnaQuestion" parameterType="nurim.jsp.model.Document"
    resultMap="document">
    SELECT id,category,subject,content,DATE_FORMAT(reg_date,'%Y%m%d') AS reg_date,
    DATE_FORMAT(edit_date,'%Y%m%d') AS edit_date,hit,ip_address,member_id,agree,disagree,
    qna_type,end_date
    FROM document
    WHERE id=#{id}
    </select>
     
</mapper>