<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 회원에 대한 CRUD -->
<mapper namespace="FileMapper">
    
    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="file" type="nurim.jsp.model.File">
    	<result property="id" 			column="id" />
    	<result property="productId" 	column="product_id" />
    	<result property="documentId" 	column="document_id" />
    	<result property="originName" 	column="origin_name" />
    	<result property="fileDir"		column="file_dir" />
    	<result property="fileName" 	column="file_name" />
    	<result property="contentType" 	column="content_type" />
    	<result property="fileSize"	 	column="file_size" />
    	<result property="regDate"	 	column="reg_date" />
    	<result property="editDate" 	column="edit_date" />
    </resultMap>
    
</mapper>