<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 회원에 대한 CRUD -->
<mapper namespace="memberMapper">
    
    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="member" type="nurim.jsp.model.Member">
    	<result property="id" 			column="id" />
    	<result property="userId" 		column="user_id" />
    	<result property="userPw" 		column="user_pw" />
    	<result property="gender" 		column="gender" />
    	<result property="birthdate"	column="birthdate" />
    	<result property="email" 		column="email" />
    	<result property="tel" 			column="tel" />
    	<result property="postcode" 	column="postcode" />
    	<result property="addr1" 		column="addr1" />
    	<result property="addr2" 		column="addr2" />
    	<result property="regDate" 		column="reg_date" />
    	<result property="editDate" 	column="edit_date" />
    </resultMap>
    
</mapper>