<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.og/dtd/mybatis-3-mapper.dtd">

<!-- 이 파일의 경로를 config.xml에 명시해야 한다. -->

<!--회원에 대한 CRUD -->
<mapper namespace="OrderMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="order" type="nurim.jsp.model.Order">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="id" column="id" />
		<result property="productId" column="product_id" />
		<result property="memberId" column="member_id" />
		<result property="basketId" column="basket_id" />
		<result property="recName" column="rec_name" />
		<result property="recTel" column="rec_tel" />
		<result property="recPostcode" column="rec_postcode" />
		<result property="recAddr1" column="rec_addr1" />
		<result property="recAddr2" column="rec_addr2" />
		<result property="recState" column="rec_state" />
		<result property="oAmount" column="o_amount" />
		<result property="regDate" column="reg_date" />
		<result property="editDate" column="edit_date"/>
	</resultMap>
	
</mapper>

