<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.og/dtd/mybatis-3-mapper.dtd">

<!-- 이 파일의 경로를 config.xml에 명시해야 한다. -->

<!--회원에 대한 CRUD -->
<mapper namespace="OrderMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="order" type="nurim.jsp.model.Order">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="id" column="id" />
		<result property="recName" column="rec_name" />
		<result property="recTel" column="rec_tel" />
		<result property="recPostcode" column="rec_postcode" />
		<result property="recAddr1" column="rec_addr1" />
		<result property="recAddr2" column="rec_addr2" />
		<result property="memberId" column="member_id" />
		<result property="productId" column="product_id" />
		<result property="regDate" column="reg_date" />
		<result property="editDate" column="edit_date"/>
		<result property="oAmount" column="o_amount" />
		<result property="recState" column="rec_state" />
		<result property="proImg" column="pro_img" />
		<result property="proName" column="pro_name" />
		<result property="proPrice" column="pro_price" />
		<result property="amount" column="amount" />
		<result property="prevDate" column="prev_date" />
		<result property="nextDate" column="next_date" />
	</resultMap>
	
	<!-- 주문정보 리스트 조회(배송완료) -->
	<select id="selectOrderList" parameterType="nurim.jsp.model.Order"
	resultMap="order">
	SELECT id,rec_name,rec_tel,rec_postcode,rec_addr1,rec_addr2,member_id,product_id,
			DATE_FORMAT(reg_date,'%Y-%m-%d') AS reg_date,edit_date,o_amount,rec_state,pro_img,pro_name,pro_price,amount
	FROM nurimmusic.order
	<where> 
	<if test="prevDate !=null and nextDate !=null">
	#{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY AND
	</if>
	<choose>
	<when test="recState != null">
	rec_state = #{recState} AND
	</when>
	<otherwise>
	rec_state = ANY(SELECT rec_state FROM nurimmusic.order WHERE rec_state="입금대기" OR rec_state="입금완료" OR rec_state="배송준비중" OR rec_state="배송완료") AND
	</otherwise>
	</choose>
	<if test="proName != null">
	pro_name LIKE concat("%",#{proName},"%") AND
	</if>
	member_id = #{memberId}
	</where>
	LIMIT #{limitStart},#{listCount}
	</select>

	<!-- 입금대기 건수 확인 -->
	<select id="selectOrderPrevPay" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	member_id = #{memberId} AND rec_state="입금대기"
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	
	<!-- 입금완료 건수 확인 -->
	<select id="selectOrderNextPay" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	member_id = #{memberId}  AND rec_state="입금완료"
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	<!-- 배송준비중 건수 확인 -->
	<select id="selectOrderPrevDelivery" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	member_id = #{memberId}  AND rec_state="배송준비중"
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	<!-- 배송완료 건수 확인 -->
	<select id="selectOrderNextDelivery" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	member_id = #{memberId} AND rec_state="배송완료"
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	<!-- 주문상품 전체 상품 리스트 카운트 (배송완료)-->
	<select id="selectOrderCount" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	<if test="prevDate !=null and nextDate !=null">
	#{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY AND
	</if>
	<choose>
	<when test="recState != null">
	rec_state = #{recState} AND
	</when>
	<otherwise>
	rec_state = ANY(SELECT rec_state FROM nurimmusic.order WHERE rec_state="입금대기" OR rec_state="입금완료" OR rec_state="배송준비중" OR rec_state="배송완료") AND
	</otherwise>
	</choose>
	<if test="proName != null">
	pro_name LIKE concat("%",#{proName},"%") AND
	</if>
	member_id = #{memberId} 
	</where>
	</select>
	
	<!-- 주문정보 리스트 조회(취소) -->
	<select id="selectOrderList2" parameterType="nurim.jsp.model.Order"
	resultMap="order">
	SELECT id,rec_name,rec_tel,rec_postcode,rec_addr1,rec_addr2,member_id,product_id,
			DATE_FORMAT(reg_date,'%Y-%m-%d') AS reg_date,edit_date,o_amount,rec_state,pro_img,pro_name,pro_price,amount
	FROM nurimmusic.order
	<where>
	member_id = #{memberId}
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<choose>
	<when test="recState != null">
	AND rec_state = #{recState}
	</when>
	<otherwise>
	AND rec_state = ANY(SELECT rec_state FROM nurimmusic.order WHERE rec_state="주문취소" OR rec_state="교환" OR rec_state="반품")
	</otherwise>
	</choose>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	LIMIT #{limitStart},#{listCount}
	</select>
	
	<!-- 취소 건수 확인 -->
	<select id="selectOrderCancel" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	member_id = #{memberId} AND rec_state="주문취소"
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	<!-- 교환 건수 확인 -->
	<select id="selectOrderChange" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	member_id = #{memberId} AND rec_state="교환"
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	
	<!-- 반품 건수 확인 -->
	<select id="selectOrderReaper" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	member_id = #{memberId} AND rec_state="반품"
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	
	<!-- 주문상품 전체 상품 리스트 카운트 (취소)-->
	<select id="selectOrderCount2" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	member_id = #{memberId}
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<choose>
	<when test="recState != null">
	AND rec_state = #{recState}
	</when>
	<otherwise>
	AND rec_state = ANY(SELECT rec_state FROM nurimmusic.order WHERE rec_state="주문취소" OR rec_state="교환" OR rec_state="반품")
	</otherwise>
	</choose>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	
	<!-- 주문정보 리스트 조회(전체) -->
	<select id="selectOrderListAll" parameterType="nurim.jsp.model.Order"
	resultMap="order">
	SELECT id,rec_name,rec_tel,rec_postcode,rec_addr1,rec_addr2,member_id,product_id,
			DATE_FORMAT(reg_date,'%Y-%m-%d') AS reg_date,DATE_FORMAT(edit_date,'%Y-%m-%d') AS edit_date,o_amount,rec_state,pro_img,pro_name,pro_price,amount
	FROM nurimmusic.order
	<where>
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	LIMIT #{limitStart},#{listCount}
	</select>
	
	<!-- 주문상품 전체 상품 리스트 카운트 (전체)-->
	<select id="selectOrderCountAll" parameterType="nurim.jsp.model.Order"
	resultType="int">
	SELECT count(id)
	FROM nurimmusic.order
	<where>
	<if test="prevDate !=null and nextDate !=null">
	AND #{prevDate} &lt;= edit_date AND edit_date &lt;= #{nextDate} + INTERVAL 1 DAY
	</if>
	<if test="recState != null">
	AND rec_state = #{recState}
	</if>
	<if test="proName != null">
	AND pro_name LIKE concat("%",#{proName},"%")
	</if>
	</where>
	</select>
	
	<!-- 주문내역 삭제 -->
	<delete id="deleteOrder" parameterType="nurim.jsp.model.Order">
	DELETE FROM nurimmusic.order
	WHERE id=#{id}	
	</delete>
	
	<!-- 주문 저장 -->
	<insert id="insertOrder" parameterType="nurim.jsp.model.Order"
	useGeneratedKeys="true" keyProperty="id">
	INSERT INTO nurimmusic.order(
	rec_name, rec_tel, rec_postcode, rec_addr1, rec_addr2, rec_state,
	member_id, product_id, reg_date, edit_date, o_amount, pro_img,
	pro_name,pro_price,amount
	) VALUES(
	#{recName},#{recTel},#{recPostcode},#{recAddr1},#{recAddr2},"입금대기",
	#{memberId},#{productId},now(),now(),#{oAmount},#{proImg},
	#{proName},#{proPrice},0
	)
	</insert>
	
	<!-- 상품 수량 감소 -->
	<update id="updateProduct" parameterType="nurim.jsp.model.Order">
	UPDATE product
	SET amount = amount-#{oAmount}, edit_date = now()
	WHERE id=#{productId}
	</update>
	
	<!-- 상품 상태 변경 -->
	<update id="updateOrder" parameterType="nurim.jsp.model.Order">
	UPDATE nurimmusic.order
	SET rec_state = ${recState}, edit_date = now()
	WHERE id=#{id}
	</update>
</mapper>

