<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.og/dtd/mybatis-3-mapper.dtd">

<!-- 이 파일의 경로를 config.xml에 명시해야 한다. -->

<!--회원에 대한 CRUD -->
<mapper namespace="ProCategoryMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="proCategory" type="nurim.jsp.model.ProCategory">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="id" column="id" />
		<result property="productId" column="product_id" />
		<result property="categoryId" column="category_id" />
		<result property="proCategoryName" column="pro_category_name" />

	</resultMap>
	
	<insert id="insertProCategory" parameterType="nurim.jsp.model.ProCategory"
	useGeneratedKeys="true" keyProperty="id">
	INSERT INTO pro_category(product_id, category_id)
	VALUES(#{productId}, #{categoryId})
	</insert>
	
	<delete id="deleteProCategory" parameterType="nurim.jsp.model.ProCategory">
	DELETE FROM pro_category WHERE product_id=#{productId}
	</delete>

	<update id="updateProCategory" parameterType="nurim.jsp.model.ProCategory">
	UPDATE pro_category SET category_id=(select id from category where id=#{proCategoryName}) WHERE product_id=#{productId}
	</update>
</mapper>
