.input_text {
			width: 1000px;
			margin-left: 25px;
		}

		.text_img {
			width:650px;
			margin-left: 25px;
		}

		#photo {
			display: inline-block;
			margin-left: 30px;
		}

		.review_btn {
			margin-top: 40px;
		}

		.review_com {
			display: inline-block;
		}

		.review_reset {
			display: inline-block;
		}

		.review_com button {
			background-color: #af64a9;
			border-color:  #af64a9;
			color: #fff;
		}

		.review_com button:hover,
		.review_com button:focus {
			background-color: #af64a9;
			color: #fff;
			border-color: #af64a9;
			opacity: 0.9;
		}

		.review_com button:active {
			background-color: #af64a9;
			color: #fff;
			border-color: #af64a9;
			opacity: 1;
		}

		h3 {
			color: gray;
		}
