h2,h3 {
      		display: inline-block;
   		 }

		.find_id{
			width: 430px;
			height: 150px;
			padding: 15px  0 0 10px;
			margin: auto;
			margin-top:50px;
			margin-bottom: 50px;
			border-radius: 7px 7px 7px 7px;
			background: white;
			box-shadow: 5px 10px 30px #607D8B;
			border: 1px solid black;

		}
		.find_id label{
			float: left;
			width: 50px;
			color :black;
			font-weight: bold;
		}
		.find_id input{
			width: 360px;
			margin: 0;
		}
		.find_id_button{
			float: right;
		}
		.find_id input#button{
			width: 100px;
			margin-top: 10px;
			margin-right: 10px;
			background-color: #F44336;
			color: #fff;
			border: none;
		}

		.find_pw{
			width: 430px;
			height: 210px;
			padding: 20px  0 0 10px;
			margin: auto;
			margin-bottom: 100px;
			border-radius: 7px 7px 7px 7px;
			background: white;
			box-shadow: 5px 10px 30px #999;
			border: 1px solid black;


		}
		.find_pw label{
			float: left;
			width: 50px;
			color :black;
			font-weight: bold;
		}
		.find_pw input{
			width: 360px;
		}
		.find_pw_button{
				float: right;
		}
		.find_pw input#button{
			width: 120px;
			margin-right: 10px;
			background-color: #F44336;
			color: #fff;
			border: none;

		}