h2,h3{
      display: inline-block;
    }

table{
   width:100%;
}
.board{
   margin-top:30px;
}
th > a{
   text-decoration: none;
   color:black;
}

.pagination > li > a, .pagination > li > span {
          color: #000;
        }
        .pagination > li > a:hover,.pagination > li > span:hover,
        .pagination > li > a:focus,.pagination > li > span:focus {
             color: #af64a9;
        }
        .pagination > .active > a,.pagination > .active > span,
        .pagination > .active > a:hover,.pagination > .active > span:hover,
        .pagination > .active > a:focus,.pagination > .active > span:focus {

          background-color: #af64a9;
          border-color: #af64a9;
        }
        .nav > li > a{
           color: black;
        }
        .nav > li > a:hover{
            background-color: #af64a9;
            color:white;
        }