
		.substance_header {
			height: 500px;
			width: 1010px;
			margin:auto;
			margin-top: 40px;
			margin-bottom: 50px;
		}

		.substance{
			height: 450px;
			background-color: #eeeeee;
			border-radius: 5px 5px 5px 5px;
		}

		.substance textarea{
			margin-left: 10px;
			margin-top: 10px;
		}

		#agreement{
			margin: auto;
			height: 30px;
			width: 200px;
		}

		.agreement_button{
			margin-left: 490px;
			width: 200px;
			height: 52px;
		}
		.btn{
			line-height: 2.5;
			width: 90px;
			height: 50px;
		}

		.btn-warning{
			float: right;
		}
		#content h2{
			margin-bottom: 20px;
			margin-top: 40px;
		}

		#content hr{
			border: 1px solid #ddd;
		}
		h4{
			font-weight: bold;
			color: red;
		}