 h2,h3{
      display: inline-block;
    }
 .side_area{
         width: 200px;
         height: 500px;

         float: left;
      }
      .top_list{
         width: 945px;
         height: 1050px;
         float: right;
         margin-bottom: 20px;
      }

      .img_slide{
         width: 945px;
         height: 300px;
         margin-top: 0;

      }
      .goods{
         width: 945px;
         height: auto;
      }

      .goods li img {
        width: 130px;
        height: 130px;
        margin-bottom: 3px;
      }


      .goods img{
         width: 100%;
      }

      .goods li{
         width: 20%;
         float: left;
         padding:10px;
         margin-bottom: 5px;
      }
      .goods li span{
         display: block;
         text-align: center;
      }

      .side_area > a{
         padding: 5px 0 5px 10px;
         margin-bottom: 10px;
         background-color: #f5f5f5;
         display: block;
         font-size: 18px;
         color: #000;
         border-top: 1px solid #aaa;
         border-bottom: 1px solid #aaa;
         text-decoration: none;
      }

      .side_area ul > li > a{
         margin-left: 20px;
         color: #000;
         text-decoration: none;
      }
         /** img_slide start */
             .img_slide{
                border: 1px solid #af64a9;
                text-align: center;
                height: 270px;
                margin-bottom: 60px;

             }
             .img_slide > span{
                display: block;
                width: 100%;
                height:30px;
                font-size: 16px;
                line-height: 30px;
                color: white;
                background: #af64a9;
             }
              .price{
                color: red;
               }
        /** 슬라이드 글 위치 지정 */
         .img_slide > ul > li > span{
           font-size: 13px;
           display: block;
           float: left;
           width:80%;
           margin-left: 10%;
           white-space: normal;
         }
         /** 이미지 크기 지정 */
         .img_slide img{
            padding: 5%;
            width:73%;
            height:73%;
            margin-left:10%;
            margin-right:10%;
         }
         .img_slide li{
            width:200px;
            height:200px;
            position: absolute;
            background: white;
         }
         /**이미지 슬라이드 박스 크기 및 위치 지정 */
         .img_slide > ul{
            position: relative;
            width:90%;
            height:200px;
            text-overflow: ellipsis;
            top: 10px;
            left: 5%;
            overflow: hidden;
                  text-align: center;
         }


         /**이미지 초기 위치*/
         .img_slide li:nth-child(1){
               left:-300px;
            }
         .img_slide li:nth-child(2){
            left:-100px;
         }
         .img_slide li:nth-child(3){
            left:100px;
         }
         .img_slide li:nth-child(4){
            left:300px;
         }
         .img_slide li:nth-child(5){
            left:500px;
         }
         .img_slide li:nth-child(6){
            left:700px;
         }
         .img_slide li:nth-child(7){
            left:900px;
         }
         .img_slide li:nth-child(8){
            left:1100px;
         }
         .img_slide li:nth-child(9){
            left:1300px;
         }

         /** img_slide end */