.login{
			margin-top: 100px;
			margin-left: 250px;
			width: 700px;
			height: 350px;
			margin-bottom: 100px;
		}

		.login .welcome{
			width: 680px;
			height: 150px;
			position: relative;
			border-bottom: 2px solid #aaa; 
			margin-bottom: 40px;
		}

		.login .welcome img{
			float: left;
			margin-right: 20px;
		}

		.login .login_enter{
			width: 440px;
			height: 200px;
			margin: auto;
		}

		.login .welcome span{
			color: #000;
			font-weight: bold;
		}
		.login .welcome .title{
			display: block;
			font-size: 16px;
			padding-top: 100px;
		}
		.login .welcome .text{
			color: #afafaf;
		}

		.login .login_enter .enter{
			width: 350px;
			height: 200px;
			float: left;
		}
		.login_enter .login_button{
			float: right;
			margin-top: 0;
			width: 80px;
			height: 80px;
		}

		.help {
			margin-top: 20px;
			margin-left: 90px;
			display: inline-block;
			float: left;
		}

		.help2 {
			margin-top: 20px;
			display: inline-block;
			float: right;
			margin-right: 10px;
		}

		.btn-primary{
			width: 75px;
			height: 75px;
			font-size: 18px;
			border-radius: 10px 10px 10px 10px;
			background-color: #af64a9;
			border-color: #af64a9;
		}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
  color: #fff;
  background-color: #3276b1;
  border-color: #fff;
  border-radius: 10px 10px 10px 10px;
}

		#password,#user_id{
			width: 270px;
			float: right;
		}