.top_bar span{
	color:white;
}
body{

}
.ddd{
		margin-top: 45px;
		margin-left: auto;
		margin-right: auto;
		width: 1170px;
		height: 1px;
	}

.top_container{
	width:100%;
	height:170px;
}

#top_bar{
	position:fixed;
	float: left;
	background:#383838;
	top:0;
	left: 0;
	width:100%;
	z-index: 100;
}

.top_nav >ul > li > a{
	color:#eee;
	text-decoration: none;
}
#top_header{
	width:1170px;
	height:auto;
	margin:auto;
	padding-top:30px;
}
#top_name{
	padding-top: 33px;
	padding-bottom: 36px;
}

 #top_name h1{
	position: absolute;
	text-indent: -10000px;
}

 #top_name h5{
	font-weight: bold;
}

#main_nav{
	height:35px;
	border-top: 3px solid #383538;
	border-bottom: 1px solid #383538;
}
.top_search{
	width:283px;
	height:20px;
	position:absolute;
	top: 7px;
}
.top_nav{
	width:400px;
	height:16px;
	position: absolute;
	top:7px;
	right:0px;
	float:right;
}
.top_bar{
	width:1170px;
	height:35px;
	position: relative;
	margin: auto;
}

#content{
	width:1170px;
	margin:auto;
	margin-top: 30px;
	padding-bottom: 30px;

}

.purple{
	background-color: #af64a9 !important;
	border-color: #af64a9 !important;
	color:white;
}
.purple:hover{
	opacity: 0.7;
}

.ruby{
	background-color: #f44336 !important;
	border-color: #f44336 !important;
		color:white;
}
/**------------------------------------------------*/
.white{color:#fff; font-size="14px";}

ul{
	list-style:none;
}
address{
	text-align:center;
	color:white;
}
#footer{
	background:#383838;
	height:70px;
	width:100%;
	float: left;
}
.footer{
	margin:auto;
	width:1170px;
	color:white;
	font-size:10px;
	text-align:center;
	height:60px;
}
