<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 	
<configuration>
	<!-- MySQL 접속 정보를 지정한다. -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" 
				    value="jdbc:mysql://localhost:3306/nurimmusic?characterEncoding=UTF8" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>

	<!-- 실행할 SQL문을 정의한 Mapper XML의 경로를 지정한다. -->
	<mappers>
	<mapper resource="nurim/jsp/dao/mapper/BasketMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/CommentMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/DocumentMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/DocumentQnaMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/DocumentNoticeMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/DiscussionMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/FileMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/MemberMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/OrderMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/ProductMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/ProCategoryMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/CategoryMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/ReviewMapper.xml" />
	<mapper resource="nurim/jsp/dao/mapper/NoticeFileMapper.xml" />
	</mappers>
</configuration>